
      <footer class="section-padding footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="footer-box mb-md-40">
                     <h4 class="text-custom-white fw-600">About Us</h4>
                     <p class="text-custom-white">on mets à votre disposition une une large gamme de voitures neuves à des prix imbattables
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="footer-box mb-md-40">
                     <h4 class="text-custom-white fw-600">About Us</h4>
                     <ul class="m-0 p-0 main">
                        <li>96 900 905</li>
                        <li>Centre Intissar, Rue Mustapha Abdessalem, Ariana</li>
                        <li>Mon-sat 8:00-18:00 Sunday Closed</li>
                     </ul>
                     <ul class="custom-flex socials">
                        <li><a href="https://www.facebook.com/makrentcar" class="text-custom-white fs-14"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/makrentcar" class="text-custom-white fs-14"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/makrentcar" class="text-custom-white fs-14"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/makrentcar" class="text-custom-white fs-14"><i class="fab fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="footer-box mb-sm-40">
                     <h4 class="text-custom-white fw-600">Newsletter</h4>
                     <div class="newsletter">
                        <p class="text-custom-white">Inscrivez-vous à notre Newsletter</p>
                        <form>
                           <div class="form-group">
                              <input type="email" name="#" class="form-control form-control-custom" placeholder="Email I'd">
                           </div>
                           <button type="submit" class="btn-first btn-submits">Subscribe</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <p class="text-custom-white">© Rumble - 2020 | All Right Reserved. <a href="http://www.bootstrapmb.com"  class="text-custom-white">Designed By codezion</a></p>
               </div>
            </div>
         </div>
      </div>