
      <footer class="section-padding footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <div class="footer-box mb-md-40">
                     <h4 class="text-custom-white fw-600">À propos</h4>
                     <div style="color : white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla hendrerit nisi vitae tristique. In eu aliquam felis. Fusce luctus, nunc et condimentum posuere, mi turpis facilisis velit, sed imperdiet ipsum nibh a dolor. Pellentesque porta nisi eget arcu pharetra tempus. In commodo nunc eget consectetur tempor. Pellentesque sit amet purus eu augue eleifend feugiat quis in ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris fringilla tempus massa sed posuere. Ut vel leo sit amet est lobortis vehicula efficitur eu sapien. In eu consequat turpis, quis bibendum turpis. Morbi mattis fringilla ipsum, at suscipit dolor congue non.</div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="footer-box mb-md-40">
                     <h4 class="text-custom-white fw-600">Contact</h4>
                     <ul class="m-0 p-0 main">
                        <li>(+12) 34567890 </li>
                        <li>21 Street Name, City</li>
                        <li>contact@mail.com</li>
                     </ul>
                     <ul class="custom-flex socials">
                        <li><a href="#" class="text-custom-white fs-14" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="text-custom-white fs-14" target="_blank"><i class="fab fa-instagram"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <p class="text-custom-white">© MBM Lab - 2022 | All Right Reserved</p>
               </div>
            </div>
         </div>
      </div>
