<form method="post" action="{{ path('promo_delete', {'id': promo.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
