
{% extends "dashboard/index.html.twig" %}


{% block body %}
<title>New Promo</title>

    <h1>Create new Promo</h1>

    {{ include('promo/_form.html.twig') }}

    <a href="{{ path('app_promo_index') }}">back to list</a>
{% endblock %}
