<!DOCTYPE html>

<title>Modifier Dépence</title>

{% block body %}
    <h1>Modifier Dépence</h1>

    {{ include('depence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('depence_index') }}">Liste des Dépences</a>

    {{ include('depence/_delete_form.html.twig') }}
{% endblock %}
