<!DOCTYPE html>

<title>New Depence</title>

{% block body %}
    <h1>Create new Depence</h1>

    {{ include('depence/_form.html.twig') }}

    <a href="{{ path('depence_index') }}">back to list</a>
{% endblock %}
