<form method="post" action="{{ path('blacklist_delete', {'id': blacklist.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blacklist.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
