<form method="post" action="{{ path('park_delete', {'id': park.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ park.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
